.register {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.name {
    color: var(--text-color);
    font-size: 36.413px;
    font-style: normal;
    font-weight: 600;
}

.register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #C4C4C4;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    min-width: 500px;
}

.register-button {
    margin-top: 50px;
    min-width: 80%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #5B5B5E;
}

.login-link {
    text-decoration: none;
    color: var(--primary-color);
}

.login-link:hover {
    color: var(--primary-hover-color);
}

.invalid-input {
    border: 1px solid rgb(168, 15, 15);
}

.invalid-message {
    color: rgb(168, 15, 15);
    margin-top: -7px;
    max-width: 90%;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.error {
    text-align: center;
    color: rgb(168, 15, 15);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #C4C4C4;
}