.product {
    display: flex;
    flex-direction: column;
}

.product-header {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.name {
    min-width: 50%;
}

.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.product-body {
    display: flex;
    gap: 50px
}

.icon {
    width: 370px;
    height: 210px;
    border-radius: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    gap: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--separator-color);
}

.price-value {
    color: var(--text-color);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

.price-value span {
    color: #9796A1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating-value {
    border-radius: 136px;
    background: var(--white);
    box-shadow: 0px 6.07143px 24.28572px 0px rgba(254, 114, 76, 0.20);
    color: var(--text-color);
    font-size: 12.143px;
    font-style: normal;
    font-weight: 600;
    padding: 7px 12px;
}

.menu-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
}

.list {
    padding-left: 20px;
}

.composition {
    color: var(--text-secondary-color);
    font-size: 14.571px;
    font-style: normal;
    font-weight: 600;
}

.list-element {
    color: var(--text-secondary-color);
    font-size: 14.571px;
    font-style: normal;
    font-weight: 400;
}