.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px
}

.loading {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-dish {
    font-size: 22px;
    color: var(--text-secondary-color);
}